<?php

define('DEBUG', FALSE);

define('PROXY_ADDR', '127.0.0.1');
define('PROXY_PORT', 47016);

define('DB_HOST', '127.0.0.1');
define('DB_USER', 'maul_rcon');
define('DB_PASS', 'maul12345');
define('DB_NAME', 'maul');

define('SERVER_TABLE_NAME', 'maul_rcon_servers');
define('USER_TABLE_NAME', 'maul_rcon_users');


$gameopt = array(
   "(delete user)"=>"",
   "Administrator"=>"*",
   "Peon"=>"sample_server_group",
);

?>
