bindip,127.0.0.1
logip,127.0.0.1
logport,47015
clientport,47016
statusport,47017
forbidden_cmds,rcon_password
dbhost,127.0.0.1
dbuser,maul_rcon
dbpass,maul12345
dbname,maul
db_server_table_name,maul_rcon_servers
db_user_table_name,maul_rcon_users
